mixin lines($class)
  .lines(class=$class)
    .lines__elem
    .lines__elem
    .lines__elem
    .lines__elem
    .lines__elem
    .lines__elem
    .lines__elem

mixin sponsorship(data, $class)
  section.sponsorship__item(class=$class)
    h2.sponsorship__title(data-aos)!= data.title
    .sponsorship__text
      .sponsorship__text-side
        each item in data.text1
          .sponsorship__text-item(data-aos)!= item
      .sponsorship__text-side
        each item in data.text2
          .sponsorship__text-item(data-aos)!= item

mixin press_release(data)
  article.press__article.press__article--large(data-aos)
    a.press__article-img-wrap(href='#!' data-aos)
      img.press__article-img(src='/img/press/' + data.image alt= data.title)
      .press__article-title= data.title
    .press__article-content(data-aos)
      p.press__article-text!= data.text
      a.press__article-link.wave-link(href= data.url target='_blank') Download
